body {
    padding: 0px;
    margin: 0px;
}

.bigBold {
    display: flex;
    justify-content: left;
    font-size: 30px;
    padding: 0px 0px 0px 22px;
    align-items: center;
    font-family: barber-complete, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
    color: black;
}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    align-items: flex-end center;
}

.contents-area {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.contents-area-typo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
  
}

.contents-area-carp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.contents-area-coding { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.contents-area-reflection { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 15px;
}

header {
    display: flex;
    background-color: darkred;
    padding: 0px 0px 0px 0px;
    align-items: center;
}

li {
    display: flex;
    justify-content: flex-start;
    font-family: barber-complete, sans-serif;
    font-size: large;
    font-style: normal;
    padding: 10px;
    margin: 2px;
    text-decoration: none;
    color: black;
}

.welcome {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    color: black;
}

.welcome-code { 
    display: flex;
    justify-content: flex-start;
    height: 100%;
    color: black;
    flex-direction: column;
}

.about-me-area {
    display: flex;
    flex-direction: column;
}

.main-para {
    padding-top: 10px;
    padding-left: 14px;
    font-size: x-large;
}

.main-para-home {
    padding-top: 10px;
    padding-left: 14px;
    font-size: x-large;
}

.typo-para {
    padding-left: 20px;
    font-size: xx-large;
  
}

.about-me {
    padding: 0px;
    padding-left: 14px;
    padding-top: 18px;
    margin: 0px;
    font-size: xx-large;
    text-decoration: underline;
}

main {
    background-color: #1E2952;
    
    font-family: greycliff-cf, sans-serif;
    font-weight: 800;
    font-style: italic;
    font-size: large;
    
}

.menu {
    text-decoration: none;
    color: black;
}

section {
    display: flex;
    height: 8px;
    background-color: black;
}
.main-box-typo { 
    width: 40px;
    height: auto;
    background-color: black;
}
.main-box-home {
    width: 20px;
    height: auto;
    background-color: black;
}

.main-box-reflection {
    width: 40px;
    height: auto;
    background-color: black;
}
.social-media {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: quasimoda, sans-serif;
    font-weight: 200;
    font-style: italic;
    padding: 0px;
    padding-right: 50px;
    padding-left: 5px;
    padding-bottom: 7px;
    margin: 0px;
    font-size: 12px;
    flex-wrap: wrap;
}

.footer-msg {
    display: flex;
    font-family: quasimoda, sans-serif;
    font-weight: 200;
    font-size: 12px;
    font-style: italic;
    padding-left: 7.5px;
    padding-top: 19px;
    margin: 0px;
}

footer {
    padding: 0px;
    margin-bottom: 0px;
    background-color: darkred;
}

a {
    text-decoration: none;
    color: black;
}

.footer-container {
    padding: 0px;
    margin: 0px;
}

.home-img {
    height: auto;
}

.typo-imgs {
    height: auto;
}   

.carp-imgs {
    height: auto;
    width: 100%;
}

.content-gap1 {
    display: flex;
    width: 2.5px;
    height: 50px;
    background-color: black;
}


.content-gap2 {
    display: flex;
    width: 2.5px;
    height: 50px;
    background-color: black;
}

.footer-home { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: quasimoda, sans-serif;
    font-weight: 200;
    font-size: 12px;
    font-style: italic;
    padding-left: 8.5px;
    padding-top: 14px;
    margin: 0px;
    text-decoration: none;
    color: black;
}

.push {
    margin-left: auto;
    flex-wrap: wrap;
    margin-right: 10px;
    justify-content: flex-end;
}

.sec-top { 
    display: none;
}
 
.header-container {
    display: flex;
    width: 100%;
    align-items: center;

}

@media only screen and (max-width: 800px) {
    .welcome { 
        flex-direction: column;
    }
    
    .sec-top { 
        display: block;
    }
}
