h1{ 
    display: flex;
    justify-content: flex-start;
    font-size: 30px;
    padding: 0px 0px 0px 22px;
    align-items: center;
    font-family: barber-complete, sans-serif;
    font-weight: 700;
    font-style: normal;
}

ul{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    align-items: flex-end;
}

.contents-area { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 100%;
}

header { 
    display: flex;
    background-color: firebrick;
    padding: 0px 0px 0px 0px;
    align-items: center;
}

li {
    font-family: barber-complete, sans-serif;
    font-size: large;
    padding: 10px; 
    margin: 2px; 
    transition-duration: 0.4s;
  a:visited { color: inherit; text-decoration: underline; }
  a:hover   { color: inherit; text-decoration: underline; }
  a:active  { color: inherit; text-decoration: underline; }
}

.welcome { 
    display: flex;
    justify-content: flex-start;
}

p {
    justify-content: flex-end;
    padding-left: 20px;
}

main { 
    background-color: darkred;
    display: flex;
}

